name: Waka Readme

on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md" # 忽略对 README.md 的更改触发
  workflow_dispatch:
  schedule:
    - cron: "0 16 * * *" # 本地每日 0 点

jobs:
  update-readme:
    name: Update this repo's README
    runs-on: ubuntu-latest
    steps:
      - uses: StationChnqoo/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          COMMIT_BY_ME: "True"
          SHOW_UPDATED_DATE: "True"
          SHOW_PROJECTS: "False"
          SHOW_LINES_OF_CODE: "True"
          SHOW_PROFILE_VIEWS: "True"
          SHOW_COMMIT: "True"
          SHOW_LOC_CHART: "False"
          LOCALE: "en"
